body{
    background-image: linear-gradient(to right, #005,#000);
}
h1{
    text-align: center;
   color: red;
   text-decoration: wavy wheat underline;
   
   font-style: italic;
   
}
div{
    margin: 110px;
    background-color: white;
  
    box-shadow: 0 2px 30px 5px orange ;
    border-radius: 30px 90px 30px 90px;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    transition: 0.3s;
    scale: 1.2;
    /* rotate: 30deg; */
    /* transform: skew(10deg,10deg); */
    font-family: cursive;
    font-style: italic;
    display: inline-block;
}

img{
    width: 225px;
    height: auto;
    border-radius: 50%;
    transition: 0.8s;
    
}
img:hover{
    width: 232px ;
}
  
.buy{
   
}

